fastapi==0.115.12
uvicorn[standard]==0.30.6
pydantic==2.9.2
python-dotenv==1.0.1

transformers==4.46.3
tokenizers==0.20.3
huggingface-hub==0.26.5
safetensors==0.4.5
sentencepiece==0.2.0
accelerate==0.34.2

torch==2.5.1
networkx==3.3
numpy==1.26.4
scipy==1.13.1
textstat==0.7.4
argostranslate==1.11